body {
  background-color: white;
  background-color: #2F3C2F;
  font-family: Verdana;
}
h1 {
	color: #278927;
}
p {
	color: #A1B5A1;
}
#menu {
	margin: 10px 10px 10px 10px;
	display: inline;
	background-color: #278927;
}
#menu_item {
	color: #A1B5A1;
	background-color: #142314;
	text-align: left;
	display: inline;
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
}
#post {
	background-color: #142314;
	margin: 10px 300px 10px 300px;
	text-align: left;
}