body {
  background-color: white;
  background-color: #2F3C2F;
  font-family: Verdana;
}
h1 {
	color: #5DC45D;
	text-align: left;
	
}
p {
	color: #A1B5A1;
	text-align: left;
}
#menu {
	margin: auto;
	display: inline-block;
}
#post {
	background-color: #142314;
	margin: auto;
}